.career-image {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; 
  background: url("../../assets/images/careers.png") center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Larger screens */
@media (min-width: 1200px) {
  .career-image {
    aspect-ratio: 21 / 9; /* wider look for desktop */
  }
}

/* Tablets */
@media (max-width: 992px) {
  .career-image {
    aspect-ratio: 10 / 4;
    background-position: center top;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .career-image {
    aspect-ratio: auto;      
    height: 250px;           
    background-position: center;
    background-size: cover
  }
}
