.project-products {
  padding: 60px 0;
  text-align: center;
  background-color: #fff;
  margin-top: -10px;
}

/* Title */
.product-title {
  font-size: 38px;
  font-weight: 800;
  color: #000;
  margin-bottom: 30px;
}

/* Button container */
.product-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}

/* Each button */
.product-tabs button {
  flex: 1;
  padding: 12px 18px;
  background: #fff;
  border: none;
  border-right: 1px solid #ccc;
  font-size: 24px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Remove border from last button */
.product-tabs button:last-child {
  border-right: none;
}

/* Hover effect */
.product-tabs button:hover {
  background-color: #f8f8f8;
  color: #222;
}

/* Responsive */
@media (max-width: 768px) {

   .project-products {
  padding: 60px 0;
  text-align: center;
  background-color: #fff;
  margin-top: -440px;
  margin-bottom: 30px;
}

  .product-tabs {
    flex-direction: column;
    border-radius: 10px;
  }

  .product-tabs button {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .product-tabs button:last-child {
    border-bottom: none;
  }

  .product-title {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
 
      .project-products {
  padding: 60px 0;
  text-align: center;
  background-color: #fff;
  margin-top: -440px;
  margin-bottom: 30px;
}

  .product-title {
    font-size: 22px;
  }

  .product-tabs button {
    font-size: 16px;
    padding: 12px 0;
  }
}
