.project-details .white-box {
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 40px 60px;
  max-width: 1200px;
  width: 100%;
}


.project-details {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  background: #fff;
  margin-top: -50px;
}

 .white-box .project-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
}

/* Left: Thumbnail List */
.project-container .image-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.image-list .arrow-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
  color: #000;
  transition: 0.2s;
}

.image-list .arrow-btn:hover {
  transform: scale(1.2);
}

.image-list .image-thumbnails {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
}

.image-list .image-thumbnails img {
  margin-top: -15px;
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 2px 4px #fff;
}

.image-list .image-thumbnails img.active,
.image-list .image-thumbnails img:hover {
  border: 1px solid #fff;
  transform: scale(1.03);
}

/* Center: Main Image + Title */
.project-details .main-image-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 60px;
}

.project-details .project-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #000;
}

.project-details  .main-image {
  width: 400px;
  height: auto;
  border-radius: 0px;
  border: 0px solid #fff;
  box-shadow: 0 4px 10px #fff;
  height: 390px;
}

/* Right: Yellow Info Box */
 .project-details  .info-box {
  background-color: #ffc422;
  color: #000;
  font-size: 22px;
  line-height: 1.6;
  padding: 30px 30px;
  border-radius: 0px;
  box-shadow: 0 4px 10px #0000001a;
  max-width: 400px;
  text-align: left;
  margin-top: 150px;
  height: 390px;
}

/* Responsive Design */
@media (max-width: 992px) {
  .project-container {
    flex-direction: column;
    align-items: center;
  }

  .main-image-section {
    align-items: center;
    text-align: center;
  }

  .project-title {
    text-align: center;
  }

  .main-image {
    width: 90%;
    max-width: 500px;
  }

  .info-box {
    max-width: 90%;
    margin-top: 25px;
    height: 190px;
    margin-bottom: 45px;
  }

  .image-list {
    flex-direction: row;
    justify-content: center;
  }

  .image-thumbnails {
    flex-direction: row;
  }

  .image-thumbnails img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 576px) {
  .project-title {
    font-size: 20px;
    margin-top: -30px;
  }

  .image-thumbnails img {
    width: 65px;
    height: 65px;
    margin-top: -45px;
  }

  .info-box {
    font-size: 14px;
    padding: 18px;
  }

   .arrow-btn {
  margin-top: -45px;
}

}