.home-banner {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; 
  background: url("../../../public/assets/images/Banner.jpg") center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Larger screens */
@media (min-width: 1200px) {
  .home-banner {
    aspect-ratio: 21 / 9; /* wider look for desktop */
  }
}

/* Tablets */
@media (max-width: 992px) {
  .home-banner {
    aspect-ratio: 10 / 4;
    background-position: center top;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .home-banner {
    aspect-ratio: 3 / 4; /* taller for mobile */
    background-position: top center;
    background-size: contain; /* show entire image */
    background-repeat: no-repeat;
  }
}
