
.paraAbout {
    text-align: center;             
    color: #8a8a8a;                
    font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;  
    font-size: 16px;                 
    line-height: 1.5;               
    letter-spacing: 0.01em;          
    margin: 0 auto;                 
    font-weight: 400;               
}

.backcol1_color{
    background-color:#FFC422;
    color: black;
 
}
.backcol2_color{
    background-color: #0D1678;
    color: white;

}
.backcol3_color{
    background-color: white;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}
.content_card1{
    padding: 30px;
}
.text-content{
 font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif; 
    font-size: 40px;
    font-weight: 700;
}
.text-content-text{
    font-size: 20px;
}
.number_card{
    font-size: 128px;
    font-weight: 700;
}

@media (min-width: 768px)  {
    .aboutimgs{
        height: 590px !important;
    }
}

.aboutus_name{
    font-weight: 400;
}
.background_color_aboutus_name{
    padding: 5px;
    background-color:#FFC422;
    border-radius: 10px;
    text-align: center;
    width: 160px;
    font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif; 
   
}


.paraAbout1{
              
    color: #8a8a8a;                
    font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;  
    font-size: 20px;                 
    line-height: 1.5;               
    letter-spacing: 0.01em;          
    margin: 0 auto;                 
    font-weight: 400;  
}



.engineer-box {
  display: flex;
  align-items: center;
  gap: 28px;
 
}

.icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-image {
  width: 44px;
  height: 44px;
  object-fit: contain;
}

.text-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.number {
  font-size: 30px;
  font-weight: 700;
  color: #142382;
  margin-bottom: -4px;
}

.label {
  font-size: 30px;
  font-weight: 600;
  color: #142382;
}




