.card-outer-border {
    border: 1px dashed;
    border-width: 2px;
    border-color: #9d9999;
}

.letstart_work_heading {
    font-family: "Outfit", sans-serif;
    color:#0A4376;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0.01em;
    margin: 0 auto;
    font-weight: 700;
}